.tw-followCard-article{
    display: flex;
    gap: 10px;
    color:white;
    justify-content: space-between;
}
.tw-followCard-header{
    display: flex;
    gap: 10px;
}

.tw-followCard-img{
    width: 48px;
    height: 48px;
    border-radius: 1000px;

}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-button{
    cursor: pointer;
    padding: 1em 2em;
    border: 0;
    border-radius: 1000px;
    background-color:aliceblue;
    font-weight: bold;
    transition: .3s ease background-color;
}


.tw-followCard-button:hover{
    background-color: blue;
    color:aliceblue;
    transition: .3s ease background-color;
}

.tw-followCard-button.is-following:hover{
    background-color: tomato;
    color: aliceblue;
}